.header-top {
  position: relative;
  width: 100%;
  height: 56px;
  background-color: transparent;
}
.header-top-content {
  position: absolute;
  top: 13px;
  right: 163px;
  display: flex;
  gap: 6px;
}

.header-top-content-text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  color: #858585;
  cursor: pointer;
}

.header-top-content-arrow {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  color: #858585;
}

.main {
}

.main-top {
  width: 100%;
  height: 560px;
  background-image: url(../images/bg-img.jpg);
  background-size: 1382px;
  background-repeat: no-repeat;
  background-position: bottom 80px right 80px;
  padding: 10px;
}
.main-top-content {
  margin-left: 155px;
  width: 550px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-top-h1 {
  color: #1f3e97;
  font-weight: 400;
  font-size: 50.18px;
  line-height: 205.78px;
  left: -1vh;
}
.main-top-text {
  color: #ffb800;
  font-weight: 500;
  font-size: 50px;
  line-height: 47.27px;
  margin-top: -30px;
  margin-bottom: 18px;
  margin-left: -55px;
}
.main-top-span {
  color: #ffb800;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47.27px;
}
.main-top-text-p {
  display: flex;
  position: absolute;
  padding-right: 100px;

  flex-direction: row;
  width: 367px;
  color: #464646;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-left: 780px;
}
.main-top-btn {
  width: 143px;
  height: 51px;
  padding: 16px 32px;
  background-color: #1f3e97;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.36px;
  transition: 0.2s;
}

.main-top-btn:active {
  width: 140px;
  height: 49px;
  font-size: 15px;
}

.main-middle {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.popular {
  width: 1132px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}
.popular-header {
  width: 1132px;
  height: 104px;

  background-color: #f4f4f4;
  border-radius: 184px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
}
.popular-content {
  display: flex;
  align-items: center;
  gap: 24px;
}

.popular-header-p {
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #1f3e97;
}
.popular-header-p-span {
  font-weight: 700;
  font-size: 26px;
  line-height: 37.7px;

  color: #1f3e97;
}

.popular-card-frames {
  display: flex;
  gap: 15px;
}
.card {
  width: 278.71px;
  height: 417.3px;
  border: 1.5px solid #f4f4f4;
  border-radius: 10px;
  padding: 12px;
}

.card:hover {
  background-color: #f4f4f4;
}
.card-img {
  width: 254.47px;
  height: 254.47px;
  margin-bottom: 24px;
}
.discount-card {
  position: relative;
  width: 278.71px;
  height: 417.3px;
  border: 1.5px solid #f4f4f4;
  border-radius: 10px;
  padding: 12px;
}

.discount-card:hover {
  background-color: #f4f4f4;
}
.card-title {
  width: 193.44px;
  height: 36px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18.18px;
  line-height: 22px;
  color: #000000;
}
.price {
  margin-bottom: 25.82px;
  font-weight: 400;
  font-size: 12.12px;
  line-height: 14.67px;
  color: #000000;
}

.discount-percent {
  position: absolute;
  padding: 6.36px 12.72px;
  text-align: center;
  width: 76.45px;
  height: 25.72px;
  background-color: #ffb800;
  color: #000000;
  border-radius: 25.45px;
  font-weight: 600;
  font-size: 11.13px;
  line-height: 13.47px;
  top: 12.72px;
  right: 12.72px;
}
.old-price {
  margin-top: -20px;
  font-weight: 400;
  font-size: 12.12px;
  line-height: 14.67px;
  color: #858585;
  text-decoration: line-through;
  margin-bottom: 6px;
}

.new-price {
  font-weight: 400;
  font-size: 15.15px;
  line-height: 18.33px;
  color: #000000;
  margin-bottom: 19px;
}
.card-rating {
  height: 25.12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating-img {
  width: 18.18px;
  height: 18.18px;
}
.card-rating-numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-rating-left {
  display: flex;
  gap: 6px;
}
.r-text {
  font-weight: 500;
  font-size: 12.12px;
  line-height: 14.67px;
  color: #000000;
}

.card-btn {
  width: 76.24px;
  height: 25.12px;
  background-color: #1f3e97;
  border: none;
  border-radius: 30.29px;
  padding: 6px 12px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 10.6px;
  line-height: 12.83px;
  transition: 0.2s;
}

.card-btn:active {
  width: 74px;
  height: 23px;
  font-size: 9.5px;
}

.main-bottom {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-bottom-img {
  width: 1132px;
  height: 1132px;
  margin-bottom: 80px;
}
